body {
 background-color: #00BFFF;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px;
  padding: 100px 200px;
  border: solid 4px #012169;
  border-radius: 30px;
  background-color: #003399;
  gap: 2em;
}

.btn {
  height: 74px;
  width: 74px;
  min-width: 74px;
  min-height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0076CE;
  color: yellow;
  border: 2px solid #00BFFF;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
}